@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{  margin:0;
    padding:0; 
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
width:100%;
height:100px;
padding:10px 0px;
background-color:#851900;
color:#fff;
display:flex;
align-items:center;
justify-content:space-around;

}
ul{
  list-style-type:none;
 display:flex;
justify-content:space-around;

}
li{

   text-decoration:none;
   font-size:20px;
   margin-left:15px;
   font-family: 'Montserrat'
   text-tranform:capitalize;
text-align:center;
}